html {
    background-image: url("../images/stardust/stardust.png");
}

nav {
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: solid #cccccc;
    background-color: #ffffff;
}

.nav-content {
    position: relative;
    width: 960px;
    height: 100%;
    margin: auto;
}

.name {
    float: left;
    position: absolute;
    height: 100%;
    vertical-align: middle;
    background-color: #4aaaa5;
    color: #ffffff;
}

h1 {
    font-size: 30px;
    padding: 20px;
}

.menu {
    position: absolute;
    right: 0;
    height: 100%;
    font-family: Helvetica;
    color: #777777;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
} 

li {
    font-size: 16px;
    color: #cccccc;
}

#aboutmenu {
    float: none;
    padding-right: 15px;
    border-right: solid 1px #eeeeee;
}

#portfoliomenu {
    float: left;
    padding: 0px 15px;
    border-right: solid 1px #eeeeee;
}

#contactmenu {
    float: left;
    padding-left: 15px;
}

a {
    text-decoration: none;
}

a:link {
    color: #999999;
}

a:visited {
    color: #999999;    
}

a:hover {
    color: lightblue;
}

a:active {
    color: green;
}

h2 {
    padding-bottom: 20px;
    border-bottom: solid #dddddd;
    color: #4aaaa5;
}

.main-content {
    width: 920px;
    margin: auto;
    padding: 20px;
    border: solid 2px #dddddd;
    background-color: #ffffff;
    overflow: auto;
}

section {
    padding-top: 20px;
    font-family: Helvetica;
    color: #777777;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px 0px 5px 0px;
    border-top: 5px solid;
    border-color: #4aaaa5;
    font-size: 12px;
    text-align: center;
    background-color: #666666;
    color: #ffffff;
}

/*element specific to index.html */

.selfie {
    float: left;
    width: 320px;
    height: 180px;
    margin-right: 10px;
}

p {
    display: block;
    line-height: 24px;
    font-size: 16px;
}

/*elements specific to portfolio.html*/

.projects {
    margin-bottom: 50px;
}

.box {
    position: relative;
}

.leftbox {
    clear: left;
    margin: 0px 60px 20px 0px;
}

.squarebox {
    float: left;
    width: 176px;
    height: 176px;
    border: 2px solid black;
}

.rectanbox {
    float: left;
    width: 240px;
    height: 135px;
}

#nasa {
    margin-left: 60px;
}

.hybridbox {
    width: 198px;
    height: 148.5px;
    border: solid 2px darkblue;
}

.projectimg {
    position: absolute;
    width: inherit;
    height: inherit;
}

.projectnamebox {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
}

.projectname {
    font-size: 14px;
    padding: 3px 0px;
}

/*elements specific to contact.html*/

input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

input[type=submit] {
    padding: 10px 25px 10px 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
}

/*media queries*/

@media screen and (max-width: 980px) {
    .nav-content {
        width: 100%;
    }

    .name {
        margin-left: 30px;
    }

    .menu {
        margin-right: 30px;
    }

    .main-content {
        width: 600px;
        float: left;
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .nav-content {
        width: 96%;
    }

    .name {
        margin-left: 0px;
    }

    .menu {
        margin-right: 0px;
    }

    .main-content {
        width: 90%;
        float: none;
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    nav {
        position: static;
        height: 120px;
    }

    .nav-content {
        width: 100%;
        height: inherit;
    }

    .name {
        float: none;
        width: inherit;
        height: 70px;
        margin: auto;
    }

    h1 {
        text-align: center;
    }

    .menu {
        bottom: 0;
        width: inherit;
        height: 45px;
    }

    ul {
        width: 220px;
        margin: auto;
    } 

    .selfie {
        width: 100%;
        height: auto;
    }

    .box {
        clear: both;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .squarebox {
        float: none;
    }

    .rectanbox {
        float: none;
    }

    #nasa {
        margin: auto;
    }
}